.sidebar {
    list-style-type: none;
    padding: 0;
}

.sidebar-item {
    margin-bottom: 10px;
}

.sidebar-category {
    cursor: pointer;
    padding: 4px;
    padding-inline: 10px;
    font-size: 14px;
    font-weight: semibold;
    border-radius: 5px;
    background-color: #cecece;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-category:hover {
    background-color: #b6b6b6;
}

.sidebar-subitems {
    list-style-type: none;
    padding-left: 0;
    margin-top: 8px;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.sidebar-subitem {
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: x-small;
    /* transition: background 0.2s; */
    margin-bottom: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.03);
    transition: background-color 0.2s ease;
}

.sidebar-subitem:hover {
    background-color: #9eddff;
}

.sidebar-subitem.selected {
    background-color: #e2e8f0;
    font-weight: 600;
    color: #2563eb;
    border: 1px solid #2563eb;
}